@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply w-full rounded-md border-2 border-current bg-transparent px-1 text-center text-2xl text-inherit focus:border-yellow-500 focus:outline-none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
